<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP ATTRIBUTES
    </title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h1>CUSTOMER DETAILS:</h1>
        <p>CustID: <input type="number" name="custnid" ></p>
        <p>CustName: <input type="text" name="custname" ></p>
        <p>Cust Phone number: <input type="number" name="custnum" ></p>
        <p>Cust Email: <input type="email=" name="email" ></p>

        <h1>STOCK DETAILS</h1>
        <p>StockID: <input type="number" name="Stocknid" ></p>
        <p>StockDescription: <input type="text" name="Stockdesp" ></p>
        <p>StockType: <input type="text" name="stocktyp" ></p>

        <h1> PAYMENT DETAILS:</h1>
        <p>Payment ID:<input type="number" name="payid"></p>
        <p>Payment Date:<input type="date" name="paydate"></p>
        <p>Payment Description: <input type="text" name="paydesp"></p>
        <input type="submit" value="Add data">
        <a href="{% url 'sh-c' %}">Check Out</a>


    </form>
</body>
</html>